[user]
  name = Mohnish Thallavajhula
  email = i@mohni.sh
[core]
  editor = "sub -n"
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[color "branch"]
  current = green
  local = green
  remote = red
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = red
[alias]
  lg = log --graph --pretty=oneline --abbrev-commit --decorate
